<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="driver" value="Chrome"/>
    <add key="waitTime" value="3000"/>
    <add key="city" value="Taguig City"/>
    <add key="street" value="7th Avenue, Taguig City, NCR, Philippines"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>